@page "/"
@inject IChallengeService _challengeService;
@inject IChampionService _championService;


<PageTitle>Index</PageTitle>

<h1>Champions</h1>

@if (Challenges.Any())
{
    <div>
        @foreach (var c in Challenges)
        {
            <div @onclick="() => ChallengeClicked(c.Model.Id)">
                <img src="@c.Model.ImageUrl" style="width:35px; height:35px;">
                @c.Model.Name
            </div>

        }

    </div>
}

@if (Champions.Any())
{
    <div class="d-flex flex-row flex-wrap m-3 p-3" style="max-height:800px;">
        @foreach (var c in Champions)
        {
            <div @onclick="() => ChampionClicked(c.Model.Id)" class="p-1 m-1 border">
                <div class="d-flex flex-column flex-wrap">
                    <img src="@c.Model.ImageUrl" style="width:96px; height:96px;">
                    <div class="mt-1"><b>@c.Model.Name</b></div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-danger">No champions found.</div>
}

@code
{
    private List<SelectionModel<Champion>> Champions = new();
    private List<SelectionModel<Challenge>> Challenges = new();

    public Task ChallengeClicked(ObjectId id)
    {
        throw new NotImplementedException();
    }

    public Task ChampionClicked(ObjectId id)
    {
        throw new NotImplementedException();
    }

    protected override async Task OnInitializedAsync()
    {
        Champions = (await _championService.GetChampionsAsync())
            .ToSelectionsModel()
            .ToList();
        Challenges = (await _challengeService.GetChallengesAsync())
            .ToSelectionsModel()
            .ToList();
    }
}